body {
	background-color: #2980b9;
}

.animated-show-hide-container {
	-webkit-transition:all linear .5s;
	transition:all linear .5s;
}

.animated-show-hide-container.ng-hide {
	opacity: 0;
}

.animated-show-hide-container.ng-show {
	opacity: 1;
}