<html lang="en" ng-app="kville-scheduler">
<head>


<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Angular -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<!--controllers-->
<script src="js/controllers.js"></script>
<!-- End Angular -->

<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />

<script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-bootstrap-datetimepicker-directive/angular-bootstrap-datetimepicker-directive.js"></script>

<!-- Google Drive API -->
<script src="https://apis.google.com/js/client.js?onload=gLoad"></script>
<!-- End Google -->

<!-- Parse -->
<script src="https://www.parsecdn.com/js/parse-1.6.7.min.js"></script>
<!-- End Parse -->

<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/global.css">


</head>

<body data-ng-controller="EventCenter">
	<div class="container animated-show-hide-container" ng-init="welcomeContentShown=true" ng-show="welcomeContentShown">
		<div class="text-center">
			<div><h1>Hi there.</h1></div>
			<div><h2>This page is for registering a tent</h2></div>
			<div><h3>Once you register, you'll be able to invite team members, schedule hours, view stats, and more</h3></div>		
			<button ng-click="createTent()">
				Register
			</button>
		</div>
	</div>
	<div class="container animated-show-hide-container" ng-show="!welcomeContentShown">
		<h1>Cool, when do you want to start?</h1>
		<div class="form-group">
			<div class="col-sm-7">
					<div id="datetimepicker" datetimepicker
						ng-model="datetime"
					    datetimepicker-options="{{datetimeOptions}}">
					</div>
				</div>
			</div>
		<button ng-click="googleLogin()">
			Log-in
		</button>
	</div>
</body>
</html>