<html lang="en" ng-app="kville-scheduler">
<head>
<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<!-- End bootstrap -->

<!-- Angular -->
<script src="bower_components/angular/angular.js"></script>
<!--controllers-->
<script src="js/controllers.js"></script>
<!-- End Angular -->

<!-- Google Drive API -->
<script src="https://apis.google.com/js/client.js?onload=gLoad"></script>
<!-- End Google -->

<!-- Parse -->
<script src="https://www.parsecdn.com/js/parse-1.6.7.min.js"></script>
<!-- End Parse -->

<link rel="stylesheet" href="css/event.css">

<script src="bower_components/moment/min/moment.min.js"></script>


</head>

<body data-ng-controller="EventCenter">
	<div class="container">
		<div data-ng-controller="GoogleAuthCenter" ng-hide="authValid">
			<button ng-click="authenticate()">
				Sign-in to Google Drive
			</button>
		</div>
		<div ng-show="tendId == null && authValid">
			Hmm, we couldn't find a tenting schedule in your Google Drive.  So you probably need to either:
			<button ng-click="beginTentCreate()">1) Create a schedule</button>
			<button ng-click="connectSchedule()">2) Add a schedule to your Drive</button>
		</div>
	</div>
</body>
</html>